/* body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7ca4d8;
    margin: 0;
    padding:40px;
}
.container{
    padding: 70px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 500px;
}
h1 {
    text-align: center;
    color: rgb(78, 102, 134);
    margin-bottom: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}
button:hover {
    background-color: #1557b0;
}
#result {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}
#result p {
    margin: 10px 0;
    color: #333;
}

span {
    color: #1a73e8;
    font-weight: bold;
} */